<div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wybierz obraz</h5> 
                <button type="button" class="close" onclick="closeImageModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" asp-action="UploadImage" method="post" enctype="multipart/form-data"> 
                    <input type="file" name="file" accept="image/*" /> 
                    <button type="button" class="btn btn-primary" onclick="uploadImage()">Prześlij</button>
                </form>
                <div id="existingImages"> @* Obrazy zostaną załadowane dynamicznie *@ </div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadImages() {
    $.ajax({
        url: '@Url.Action("GetImages", "Rock0")', 
        type: 'GET',
        success: function (data) {
            $('#existingImages').html(data);
        }
    });
}

function selectImage(name) {
    $('#imageFile').val(name);
    $('#image').attr('src', "/rocks/" + name);
    closeImageModal();
}

function uploadImage() {
    var formData = new FormData($('#uploadForm')[0]);
    $.ajax({
        url: '@Url.Action("UploadImage", "Rock0")',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
            loaded = false;
            selectImage(data.fileName);
        },
        error: function () {
            alert("Error uploading image.");
        }
    });
}
</script>