@{
    ViewData["Title"] = "Rock Seeker version 1";
}

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Rock Seeker v1!</h1>
            <p class="lead">This application helps you organize your rock collection.</p>
            <hr class="my-4">
            <p>This versions is currently in development. Future versions will use Blazor Pages for a more interactive experience.</p>
        </div>
    </div>
