@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RockSetter</h1>
    <p class="lead">Manage your rock collections with ease.</p>
    <div class="mt-4 w-25 mx-auto text-center">
        <a href="/Rock0" class="btn btn-primary btn-lg d-block mb-2">Rock v0</a>
        <a href="/Rock1" class="btn btn-secondary btn-lg d-block">Rock v1</a>
    </div>
    <div class="mt-4 text-center mx-auto" style="width: fit-content;">
        <h2>What you can do:</h2>
        <ul class="list-unstyled text-start mx-auto">
            <li>- Add new rocks to your collection</li>
            <li>- View details of each rock</li>
            <li>- Edit rock information</li>
            <li>- Delete rocks from your collection</li>
            <li>- Upload and manage rock images</li>
        </ul>
    </div>
</div>
