@model List<RockBasicEntity>


<div class="container center">

    <h2>Your Rocks Collection</h2>

    @{
        List<RockBasicEntity> favorible = new();

        <div class="accordion">
            <div class="d-flex flex-column-reverse gap-2">
                <div class="accordion-item bg-dark border-secondary">

                    <h2 class="accordion-header">
                        <button class="accordion-button shadow-sm bg-primary text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            All Rocks
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">


                            <div class="container text-center">
                                <div class="row row-cols-5 h-100">

                                    <div class="col p-3" id="addNew">
                                        <a class="btn shadow btn-primary w-100 h-100 d-flex justify-content-center align-items-center py-5"
                                            asp-controller="Rock0" asp-action="Add">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                                fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0q-.264 0-.523.017l.064.998a7 7 0 0 1 .918 0l.064-.998A8 8 0 0 0 8 0M6.44.152q-.52.104-1.012.27l.321.948q.43-.147.884-.237L6.44.153zm4.132.271a8 8 0 0 0-1.011-.27l-.194.98q.453.09.884.237zm1.873.925a8 8 0 0 0-.906-.524l-.443.896q.413.205.793.459zM4.46.824q-.471.233-.905.524l.556.83a7 7 0 0 1 .793-.458zM2.725 1.985q-.394.346-.74.74l.752.66q.303-.345.648-.648zm11.29.74a8 8 0 0 0-.74-.74l-.66.752q.346.303.648.648zm1.161 1.735a8 8 0 0 0-.524-.905l-.83.556q.254.38.458.793l.896-.443zM1.348 3.555q-.292.433-.524.906l.896.443q.205-.413.459-.793zM.423 5.428a8 8 0 0 0-.27 1.011l.98.194q.09-.453.237-.884zM15.848 6.44a8 8 0 0 0-.27-1.012l-.948.321q.147.43.237.884zM.017 7.477a8 8 0 0 0 0 1.046l.998-.064a7 7 0 0 1 0-.918zM16 8a8 8 0 0 0-.017-.523l-.998.064a7 7 0 0 1 0 .918l.998.064A8 8 0 0 0 16 8M.152 9.56q.104.52.27 1.012l.948-.321a7 7 0 0 1-.237-.884l-.98.194zm15.425 1.012q.168-.493.27-1.011l-.98-.194q-.09.453-.237.884zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a7 7 0 0 1-.458-.793zm13.828.905q.292-.434.524-.906l-.896-.443q-.205.413-.459.793zm-12.667.83q.346.394.74.74l.66-.752a7 7 0 0 1-.648-.648zm11.29.74q.394-.346.74-.74l-.752-.66q-.302.346-.648.648zm-1.735 1.161q.471-.233.905-.524l-.556-.83a7 7 0 0 1-.793.458zm-7.985-.524q.434.292.906.524l.443-.896a7 7 0 0 1-.793-.459zm1.873.925q.493.168 1.011.27l.194-.98a7 7 0 0 1-.884-.237zm4.132.271a8 8 0 0 0 1.012-.27l-.321-.948a7 7 0 0 1-.884.237l.194.98zm-2.083.135a8 8 0 0 0 1.046 0l-.064-.998a7 7 0 0 1-.918 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                                            </svg>
                                        </a>
                                    </div>

                                    @foreach (var rock in Model)
                                    {
                                        if (rock.Favorible)
                                        {
                                            favorible.Add(rock);
                                        }

                                        <div class="p-3 col">
                                            <div class="rounded-3 overflow-hidden position-relative hover-element shadow">
                                                <a asp-controller="Rock0" asp-action="Details" asp-route-id=@rock.Id>
                                                    <img class="w-100 rounded-3" src="~/rocks/@{@rock.ImageFileName}" alt="rock" />
                                                    <div class="rounded-3 position-absolute w-100 py-2 bg-dark text-white d-flex flex-column hover-place"
                                                        style="--bs-bg-opacity:0.5;">
                                                        <div>
                                                            @rock.Name
                                                        </div>
                                                        <div class="justify-content-center align-items-center hover-text">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                                                fill="currentColor" class="bi bi-primary-circle"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                                <path
                                                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    }
                                    
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="accordion-item bg-dark border-secondary ">
                    <h2 class="accordion-header shadow-sm">
                        <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne">
                            Your favorible &hearts;
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">

                            @if (favorible.Count == 0)
                            {
                                <div>
                                    You don't have any favoribles rocks. Add some!
                                </div>
                            }
                            else
                            {

                                <div class="container text-center">
                                    <div class="row row-cols-5">
                                        @foreach (var rock in favorible)
                                        {

                                            <div class="p-3 col">
                                                <div class="rounded-3 overflow-hidden position-relative hover-element shadow">
                                                    <a asp-controller="Rock0" asp-action="Details" asp-route-id=@rock.Id>         
                                                       <img class="w-100 rounded-3" src="~/rocks/@{@rock.ImageFileName}" alt="rock" />
                                                        <div class="rounded-3  position-absolute w-100 py-2 bg-dark text-white d-flex flex-column hover-place"
                                                            style="--bs-bg-opacity:0.5;">
                                                            <div>
                                                                @rock.Name
                                                            </div>
                                                            <div class="justify-content-center align-items-center hover-text">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                                                    fill="currentColor" class="bi bi-info-circle"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                                    <path
                                                                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>